@import '../../variables';

.entry-container .entry-footer {
  .entry-related-list {
    text-align: left;
    background-color: $background-level1;
    border: none;
    border-radius: 6px;
    padding: 20px;

    .list-title {
      font-weight: bold;
      border-bottom: 1px solid $border-level1;
      padding: 5px 2px;
      margin-bottom: 8px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    li {
      padding: 5px 2px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      a {
        flex: 1;
      }
    }
  }

  .entry-action {
    display: flex;
    margin-top: 24px;

    .action-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      background-color: $background-level1;
      color: $text-level1;
      border-radius: 50%;
      border: none;
      height: 35px;
      width: 35px;
      margin-right: 12px;
    }
  }

  .entry-comment {
    margin-top: 16px;

    .textbox-list {
      ul {
        display: flex;
        flex-direction: column-reverse;
      }
    }
  }
}

