.permalink-article
  .article-header
    a.category.p4(href="[##_article_rep_category_link_##]") [##_article_rep_category_##]
    .title.p-t1 [##_article_rep_title_##]
    .article-admin-btn.p4
      .published_at [##_article_rep_date_##]
      s_ad_div
        .admin-btn: a(href='[##_s_ad_m_link_##]') 수정
        .admin-btn: a(href='#' onclick='[##_s_ad_d_onclick_##]') 삭제
  .article-body
    article [##_article_rep_desc_##]
    s_tag_label: .article-tags.p-s1 [##_tag_label_rep_##]
  .article-footer
    include related
    include action
    include comment













