.permalink-article
  +entryHeader('article')
  +entryBody('article')
  .article-footer
    include related
    include action
    include comment

script.
  window.jface.imageResizing({
    targets: ['imageSlideBlock', 'imageBlock', 'imageGridBlock']
  })

  
