.permalink-article
  +entryHeader('article')
  +entryBody('article')
  .article-footer
    include related
    include action
    include comment


script.
  $(document).ready(() => {
    window.jface.imageResizing({
      targets: ['imageSlideBlock', 'imageBlock', 'imageGridBlock']
    })

    $('.tt_article_useless_p_margin .another_category.another_category_color_gray').remove()

    // 태그 콤마 제거
    $('.entry-tags').contents().filter(function () {
      return this.nodeType === 3
    }).remove()

    // URL 공유 클립보드 복사
    $('button#url-clipboard').attr('data-clipboard-text', document.location.href.split('?')[0])
    const cb = new ClipboardJS('button#url-clipboard')
    cb.on('success', (e) => {
      notyf.open({type: 'black', message: '링크가 클립보드에 복사되었습니다.'})
    })
  })

