doctype html

html(lang='ko')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    if process.env.NAVER_VERIFICATION
      meta(name="naver-site-verification" content=process.env.NAVER_VERIFICATION)

    title [##_title_##]

    script(src='https://kit.fontawesome.com/500fc882c7.js' crossorigin='anonymous')

    // UI kit
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.18/dist/css/uikit.min.css")
    script(src="https://cdn.jsdelivr.net/npm/uikit@3.6.18/dist/js/uikit.min.js")
    script(src="https://cdn.jsdelivr.net/npm/uikit@3.6.18/dist/js/uikit-icons.min.js")

    // clipboard.js
    script(src='https://cdn.jsdelivr.net/npm/clipboard@2.0.8/dist/clipboard.min.js')

    // highlight.js
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.1/styles/a11y-light.min.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.1/highlight.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.1/languages/dart.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.1/languages/dockerfile.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.1/languages/django.min.js")

    s_if_var_latex
      // Mathjax
      script(src="https://polyfill.io/v3/polyfill.min.js?features=es6")
      script(id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js")
      script(scoped).
        MathJax = {tex: {inlineMath: [['\\$', '\\$'], ['\\(', '\\)']]}};

    // webfont
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap" rel="stylesheet")
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/gh/wan2land/d2coding/d2coding-ligature-full.css')

    script(scoped).
      const $ = tjQuery
    style
      include:sass @/styles/app.scss
      include:sass @/styles/libs/notyf.scss
      include:sass @/styles/libs/tinyDrawer.scss
      include @/styles/libs/load-awesome/ball-clip-rotate.min.css

  body(id='[##_body_id_##]')
    block JFACE
