extends app

block JFACE
  include views/loading
  s_t3
    #jface-root.drawer.drawer--right
      include views/header
      include views/main
      include views/footer
      include views/drawer

  include views/vars
