s_article_related
  .entry-related-list.p4
    .list-title
      span '[##_article_rep_category_##]' 카테고리의 다른 글
      span: i(class="fas fa-bars")
    ul: s_article_related_rep
      li
        a(href="[##_article_related_rep_link_##]") [##_article_related_rep_title_##]
        span: i(class="fas fa-chevron-right")
