drawer-menu
  .drawer-inner
    s_sidebar
      s_sidebar_element
        <!-- 프로필 -->
        include drawer/profile
      s_sidebar_element
        <!-- 검색 -->
        include drawer/search
      s_sidebar_element
        <!-- 카테고리 -->
        include drawer/category
      s_sidebar_element
        <!-- 블로그 메뉴 -->
        include drawer/blog-menu
      //s_sidebar_element
      //  <!-- 공지사항 -->
      //  include drawer/notice
      s_sidebar_element
        <!-- 인기 글 -->
        include drawer/popular
      s_sidebar_element
        <!-- 최근에 올라온 글 -->
        include drawer/recent
      //s_sidebar_element
      //  <!-- 최근 댓글 -->
      //  include drawer/reply
      //s_sidebar_element
      //  <!-- 태그 -->
      //  include drawer/tags
