header#header-container
  .nav.left
    .nav-item
      a.profile(href='[##_blog_link_##]')
        img.circled.lazyload(data-src='[##_image_##]' data-sizes='auto' width='48' height='48')
        .f-dh.p-t1.blog-title [##_title_##]
  .nav.right
    .nav-item#subscribe-nav
    .nav-item
      button.icon-btn#menu-btn(data-drawer-open=''): i.fas.fa-bars.fa-lg

script.
  $(document).ready(() => {
    $('.menu_toolbar > div[class=btn_tool]').appendTo('#header-container > .nav.right > #subscribe-nav')
  })
