@import "../variables";

#footer-container {
  .footer-nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 16px;

    .nav-right {
      display: flex;
      justify-content: flex-end;
    }

  }

  .scroll-top-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: white;
    color: $text-level1;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    margin-right: 12px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 2px 5px rgba(0, 0, 0, .1);

    &:hover {
      background-color: black;
      color: white;
    }
  }
}
