@import '../variables.scss';

header#header-container {
  width: 100%;
  height: $header-height;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, .06);
  background-color: rgba(white, .72) !important;
  backdrop-filter: saturate(180%) blur(20px);
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;

  > .nav {
    display: flex;
    align-items: center;
    height: 100%;

    &.left .nav-item {
      margin-right: 22px;
    }

    &.right .nav-item {
      margin-left: 26px;
    }

    .nav-item {
      display: flex;
      align-items: center;

      button {
        font-size: 1rem;
      }

      .profile {
        display: flex;
        align-items: center;
        height: 100%;

        img {
          border-radius: 50%;
          border: 1px solid rgba(black, .1);
        }

        .blog-title {
          font-size: 1.7rem;
          margin-left: 14px;

          @media (max-width: $mobile-width) {
            font-size: 1.5rem;
          }
        }
      }


    }
  }
}

#subscribe-nav {
  div[class=btn_tool] .btn_menu_toolbar.btn_subscription {
    &.following::before {
      @include icon('\f005');
    }

    &::before {
      @include icon('\f005');
      font-weight: 400;
    }

    *:not(i) {
      display: none;
    }
  }
}
