@import "../../../variables";

#article-container .article-footer .article-action {
  display: flex;
  margin-top: 24px;

  .action-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: $background-level1;
    color: $text-level1;
    border-radius: 50%;
    border: none;
    height: 35px;
    width: 35px;
    margin-right: 12px;
  }
}
