@import "related";
@import "action";

@import '../../../variables';

#article-container .article-footer {
  .article-comment {
    margin-top: 16px;

    .textbox-list {
      ul {
        display: flex;
        flex-direction: column-reverse;
      }
    }
  }
}
