@import "../../../variables";

#article-container .article-footer .article-related-list {
  text-align: left;
  background-color: $background-level2;
  border: none;
  border-radius: 6px;
  padding: 20px;

  .list-title {
    font-weight: bold;
    border-bottom: 1px solid white;
    padding: 5px 2px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  li {
    padding: 5px 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      flex: 1;
    }
  }
}

#article-container {
  div.tt_article_useless_p_margin div.another_category.another_category_color_gray {
    display: none;
  }
}
