@import '../variables';

.entry-header {
  margin-bottom: 36px;
  border-bottom: 1px solid white;
  text-align: left;

  .category {
    color: $red;
    font-weight: 500;
  }

  .published_at, .admin-btn {
    color: $text-level3;
  }

  .title {
    margin: 2px 0;
  }

  .entry-admin-btn {
    display: flex;

    .admin-btn {
      margin-left: 6px;
    }
  }
}

#jface-root #main-container .entry-body article .tt_article_useless_p_margin {
  text-align: left;
  margin-bottom: 36px;

  hr {
    cursor: default !important;
  }

  p span,
  blockquote,
  h2, h3, h4 {
    color: $text-level1 !important;
  }

  h2, h3, ul, ol {
    margin: 20px 0;
  }

  figure[data-ke-type=opengraph] {
    margin-top: 10px !important;
    margin-bottom: 20px !important;
  }

  blockquote {
    font-style: normal;

    &[data-ke-style="style2"] {
      font-size: 1rem;
      border-left: 2px solid $border-level3;
      color: $text-level3 !important;
      padding-left: 12px;
    }

    &[data-ke-style="style3"] {
      &::before {
        display: block;
        margin-bottom: 4px;
        @include icon('\f10d');
      }

      padding: 0;
      border: 20px;
      background-color: transparent;
      border: none;
      text-align: center;
    }
  }

  a {
    color: $red !important;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  ul, ol {
    padding-left: 36px;

    li {
      margin: 6px 0;
    }
  }

  figure {
    &.imageblock {
      margin-bottom: 20px;

      img {
        border-radius: 6px;
      }
    }
    figcaption {
      font-size: .9rem;
    }
  }

  code {
    border-radius: 4px;
  }

  pre {
    border: none !important;
    border-radius: 0 !important;
    padding: 0 !important;
    background: none !important;

    code {
      background-color: $background-level1 !important;
      padding: 15px;
      font-size: .85rem;

      * {
        font-family: D2Coding;
      }
    }
  }

  div[data-ke-type="moreLess"] {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    position: relative;

    &::before {
      border-bottom: 1px dashed $border-level3;
      content: '';
      z-index: -100;
      position: absolute;
      top: 15px;
      left: 0;
      height: 0;
      width: 100%;
    }

    &.open {
      a.btn-toggle-moreless::before {
        @include icon('\f139');
        margin-right: 8px;
      }
    }

    a.btn-toggle-moreless {
      margin: auto;
      background-color: black;
      color: white !important;
      border-radius: 16px;
      padding: 2px 14px;
      font-size: .85rem !important;
      font-weight: 600;

      &::before {
        @include icon('\f13a');
        margin-right: 8px;
      }
    }

    .moreless-content {
      margin-top: 20px;
    }
  }
}

.entry-tags {
  text-align: left;
  margin: 24px 0;

  a {
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 6px;
    background-color: $background-level1;
    color: $text-level3;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    padding: 0 10px;


    &::before {
      @include icon('\f02b');
      font-size: .72em;
      margin-right: 4px;
    }
  }
}

article .tt_article_useless_p_margin .container_postbtn {
  display: none;
}
