@import "../variables";

.textbox-list {
  .tt_more_preview_comments_wrap {
    margin-top: 32px !important;
    padding: 8px 0;
    border-radius: 4px;
    background-color: black;
    color: white;

    span.tt_more_preview_comments_text {
      font-weight: 700;
      font-size: .85rem;
    }
  }
}
