@import "../variables";

.article-list-item {
  .list-item-container {
    padding: 32px 0;
    justify-content: space-between;
    text-align: left;
    border-bottom: 1px solid rgba(white, .4);
    width: 100%;

    .item-body {
      cursor: pointer;
      display: block;

      &:hover {
        h1.title {
          text-decoration: underline;
        }
      }

      .title {
        color: white;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-size: 1.5rem;

        @media (max-width: $mobile-width) {
          font-size: 1.3rem;
        }
      }

      .summary {
        margin-top: 1px;
        overflow: hidden;
        max-height: 80px;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* number of lines to show */
        -webkit-box-orient: vertical;
      }
    }

    .item-footer {
      margin-top: 16px;
      display: flex;
      justify-content: flex-start;

      > div {
        margin-right: 10px;
      }

      .published_at {
        color: rgba(white, .8)
      }
    }
  }
}

.textbox-list-item {
  text-align: left;
  $padding-left: 62px;
  padding: 24px 0;

  &.textbox-parent {
    border-bottom: 1px solid rgba(white, .6);
  }

  .list-item-container {
    .item-header {
      display: flex;

      .author-thumbnail {
        border-radius: 50%;
      }

      .info {
        margin-left: 16px;

        .author:empty::before {
          content: "(비밀댓글)"
        }
      }
    }

    .item-body {
      padding: 15px 0 5px $padding-left;
      line-height: 1.5em;
    }

    .item-footer {
      display: flex;
      margin: 10px 0;
      padding-left: $padding-left;

      a {
        margin-right: 8px;
      }
    }
  }
}
