@import "../variables";

.article-list-item {
  .list-item-container {
    padding: 16px 0;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    text-align: left;
    border-bottom: 1px solid $border-level4;
    width: 100%;

    @media (max-width: $mobile-width) {
      flex-direction: column;
      justify-content: flex-start;
    }

    .article-thumbnail {
      a {
        margin-left: 50px;
        display: flex;
        align-items: center;

        @media (max-width: $mobile-width) {
          margin-left: 0;
          margin-bottom: 20px;
        }
      }

      img.thumbnail {
        border-radius: 8px;
        max-width: none;
        width: 240px;
        height: 240px;
        margin-bottom: 0;
        object-fit: cover;

        @media (max-width: $mobile-width) {
          width: 100%;
        }
      }
    }


    .article-info {
      padding: 16px 0;

      .category {
        margin-bottom: 6px;
        color: $red;
        font-weight: 500;
      }

      .item-body {
        cursor: pointer;
        display: block;

        &:hover {
          h1.title {
            text-decoration: underline;
          }
        }

        .title {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: pre-wrap;
          font-size: 1.5rem;

          @media (max-width: $mobile-width) {
            font-size: 1.3rem;
          }

          img {
            width: 14px !important;
            height: 12px !important;
          }
        }

        .summary {
          margin-top: 1px;
          overflow: hidden;
          max-height: 80px;
          color: $text-level2;
          display: -webkit-box;
          -webkit-line-clamp: 3; /* number of lines to show */
          -webkit-box-orient: vertical;
        }
      }

      .published_at {
        margin-top: 16px;
        display: flex;
        justify-content: flex-start;
        color: $text-level3;
      }
    }
  }
}

.textbox-list-item {
  text-align: left;
  $padding-left: 62px;
  padding: 24px 0;

  &.textbox-parent {
    border-bottom: 1px solid $border-level3;
  }

  .list-item-container {
    .item-header {
      display: flex;

      .info {
        margin-left: 16px;

        .author {
          font-weight: bold;
        }

        .published_at {
          color: $text-level3;
        }

        .author:empty::before {
          content: "(비밀댓글)"
        }
      }
    }

    .item-body {
      padding: 15px 0 5px $padding-left;
      line-height: 1.5em;
      color: $text-level2;
    }

    .item-footer {
      display: flex;
      margin: 10px 0;
      padding-left: $padding-left;

      a {
        margin-right: 8px;
        color: $text-level3;
      }
    }
  }
}
