#popular-area
  .side-menu
    .title 인기 글
    ul.side-artcle-list
      s_rctps_popular_rep
        li
          a(href='[##_rctps_rep_link_##]')
            .article-title [##_rctps_rep_title_##]
            .published_at [##_rctps_rep_date_##]
