#profile-area
  .blogger-info
    img.circled.lazyload(data-src='[##_image_##]' data-sizes='auto' width='126' height='126')
    .blog-title.p2 [##_blogger_##]
    .desc [##_desc_##]
  .profile-buttons
    .rss-btn.profile-btn
      a(href="[##_rss_url_##]" target="_blank"): i.fas.fa-rss
    .profile-btn
      a(href=`https://github.com/jrog612/jface` target="_blank"): i.fas.fa-code
