#recent-article-area
  .side-menu
    .title 최근 글
    ul.side-artcle-list
      s_rctps_rep
        li
          a(href='[##_rctps_rep_link_##]')
            .article-title.ellipsis [##_rctps_rep_title_##]
            .published_at.p-s1 [##_rctps_rep_date_##]
