#reply-area
  .side-menu
    .title 최근 댓글
    ul.side-reply-list
      s_rctrp_rep
        li
          a(href='[##_rctrp_rep_link_##]')
            .reply-body [##_rctrp_rep_desc_##]
            .reply-author.p-s1 [##_rctrp_rep_name_##]
