s_article_rep
  .inner.limited
    #article
      s_permalink_article_rep
        .permalink-article
          +entry('article')

script.
  $(document).ready(() => {
    window.jface.imageResizing({
      targets: ['imageSlideBlock', 'imageBlock', 'imageGridBlock']
    })

    window.jface.hljs.init();

    $('.tt_article_useless_p_margin .another_category.another_category_color_gray').remove()

    // 태그 콤마 제거
    $('.entry-tags').contents().filter(function () {
      return this.nodeType === 3
    }).remove()

    if (getVars('backtick')) {
      // TODO: html을 직접적으로 변경하는 코드라 위험할 수 있음.
      const pattern = /`([a-zA-Z가-힣\d$&+,:;=?@#|'<>.^*()%!·\-_ \t\r]+)`+?/g
      $('article .tt_article_useless_p_margin').find('> p, > ul li, > ol li, div.moreless-content > p').each((index, item) => {
        if (pattern.test(item.textContent)) {
          const el = $(item)
          el.html(el.html().replace(pattern, '<code>$1</code>'))
        }
      })
    }

    // URL 공유 클립보드 복사
    $('button#url-clipboard').attr('data-clipboard-text', document.location.href.split('?')[0])
    const cb = new ClipboardJS('button#url-clipboard')
    cb.on('success', (e) => {
      window.jface.notyf.open({type: 'black', message: '링크가 클립보드에 복사되었습니다.'})
    })
  })
