@import 'variables';
@import "libs/tinyDrawer";
@import 'mixins/index';
@import "commons/index";
@import 'views/index';

* {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  box-sizing: border-box;
}

*, *::before, *::after {
  outline: none;
  word-break: break-all;
}

html,
h1, h2, h3, h4, h5, :not(pre) > code,
input, textarea {
  font-family: 'Noto Sans KR', sans-serif;
}

html {
  color: $text-level1;

  body {
    overflow-x: hidden;
  }

  ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none !important;
    pointer-events: initial;
    color: inherit;

    &:hover {
      color: inherit;
    }
  }

  a, button {
    pointer-events: initial !important;
  }
}

#jface-root {
  height: 100vh;
  text-align: center;
}

.notyf-black {
  .notyf__wrapper {
    padding: 12px 0;
  }
}
