$background-level1: #1e1f21;
$background-level2: #292a2d;
$background-level3: #353638;
$background-level4: #53575c;

$blue: #5db0d7; // a
$red: red;
$orange: #f0506e;

$max-width: 860px;
$header-height: 64px;
