@import "guestbook";
@import "paging";
@import "post/index";

@import '../../variables';


main#main-container {
  margin-top: $header-height;
}

#main-content {
  padding-top: 52px;
  text-align: center;
  padding-bottom: 72px;
}
