#page-container {
  margin-top: 32px;

  .uk-pagination>*>* {
    padding: 0 4px;
  }

  li {
    a {

      span {
        min-width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        display: inline-block;

        &.selected {
          color: white;
          background-color: black;
          border-radius: 50%;
          padding: 0 8px;
          box-sizing: border-box;
          font-weight: bold;
        }
      }

    }
  }
}
